body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 50px;
}

.red {
    color: red;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: aliceblue;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}