body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.red {
    color: red;
}

.flexible-container {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: aliceblue;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    border-left: 5px solid blue;
}